@font-face {
    font-family:'Poppins';
    src: url('/Poppins-Medium.ttf')
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display:flex;
    flex-direction: column;
}

/* ------------------------------------------- START du navbar ---------------------------------------------------------- */

/* ------------------------------------------- END du navbar ---------------------------------------------------------- */
/* ------------------------------------------- START du Header ---------------------------------------------------------- */

.energy{
    position:relative;
    display: flex;
    width:100%;
    height:60vh;
    background-image: url(./energy_space_images/spaceimage.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content:space-evenly;
}

.energy .scene1{
    width: 40%;
    height: 40vh;
    padding-top:20vh;
}
.scene1 img {
    max-width:40vw;
    margin-left:20%;
}
.energy .scene2{
    width: 60%;
    height: 60vh;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.scene2 h1{
    font-weight: 900;
    font-style: italic;
    font-size: 6vw;
    color:white;
    text-align: center;
    padding-top:280px;

}
@media screen and (max-width:1200px) {
    .scene2 h1 {
        font-size: calc(30px+3.3vw);
    }
}
/* ------------------------------------------- END du Header ---------------------------------------------------------- */

/* .scene{
    position: relative;
    width:100%;
    height:43.581445523193096vh;
    background:#1E2985;
    overflow:hidden;
    display:flex;
    width: 50%;
    float: right;

}
.scene i
{
    position: absolute;
    top:-250px;
    background: rgba(255,255,255,0.5) ;
    animation: animateStars linear infinite;
}
@keyframes animateStars
{
    0%
    {
        transform: translateY(0);
    }
    100%
    {
        transform: translateY(200vh);
    } */
/* } */
/* .scene .rocket
{
    position: relative;
    animation:animate 0.2s ease infinite;;

}
@keyframes animate
{
    0%,100%
    {
      transform: translateY(-2px);
    }
    50%
    {
        transform: translateY(2px);
    }
}

.scene .rocket::before
{
    content:'';
    position: absolute;
    bottom:-200px;
    left:50%;
    transform: translateX(-50%);
    width:10px;
    height:200px;
    background:linear-gradient( #03436A,#FAB02E,transparent);

}
.scene .rocket::after
{
    content:'';
    position: absolute;
    bottom:-200px;
    left:50%;
    transform: translateX(-50%);
    width:10px;
    height:200px;
    background:linear-gradient( #03436A,#FAB02E,transparent);
    filter:blur(20px)
} */

/* ------------------------------------------- START du portfolio---------------------------------------------------------- */

.portfolio {
    width:100%;
    background-color: #d3d2d2;
}

.text {
    width:100%;
    height:15%;
    background-color: #ffffff;
    display:flex;
}

.portfolio .title1 {
    color: #1E2985;
    width: 40%;
    font-family:'Poppins',sans-serif ;
    font-weight: 700;
    font-size:4vw;
	text-align:center;
}
.portfolio .text .title2{
    color: #ffffff;
    width: 60%;
    letter-spacing:6px;
    font-family:'Poppins',sans-serif ;
    font-weight: 800;
    font-size:4vw;
	text-align:center;
    background-color: #FAB02E;
}


/** Start Footer section page ***/

.believers {
    width: 100%;
    display: grid;
}

.believer_title {
    color: #1E2985;
    font-family:'Poppins',sans-serif ;
    font-weight: 700;
    font-size:4vw;
	text-align:center;
    margin-bottom: 2vh;
}
.talk_title1{
    color: #FAB02E;
    font-family:'Poppins',sans-serif ;
    font-weight: 700;
    font-size:4vw;
	text-align:center;
    margin-bottom: 2vh;
}